
body{
    background-color: rgb(174, 215, 247);
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}
#header{
    background-color: rgb(174, 215, 247);
    margin-top: 1px;
    border-bottom:  1px solid #ccc;
}
.row{
    margin: 0;
}
.container-fluid {
    padding: 0;
}

#btn-submit{
    
    background-color: #f2a340;
    border: 2px solid #c28008;
    margin-top: 10px;
}

#btn-submit:hover{
    background-color: #c28008;
    border-color: #c28008;
    margin-top: 10px;
}


#menu-nav{
    justify-content: space-between;
    margin-left: 12%;
    margin-right: 12%;
}
#item-menu li{
    padding: 5px 5px 5px 5px;
}
#item-menu li:hover{
    background-color: blueviolet;
    transition: background-color  1s ease-in-out 0.01s; 
    font-size: 18px;
}
#item-menu li a:hover{
    color: beige;
}
#navbar img{
    width: 70px;
    height: 50px;
}

/*Search contener*/
#search-container{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    height: 400px;
    padding: 50px;
    text-align: center;
}
#search-container h1{
    font-size: 40px;
    color: #f2a340;
    margin-bottom:  30px;
    font-weight: 500;
}

#search-container form{
    width: 50%;
    margin: 0 auto;
}

/*Lista de Eventos*/
#events-container{
    padding: 50px;
}
#events-container h2{
    margin-bottom: 10px;
}
#events-container .subtitle{
    color: #757575;
    margin-bottom: 30px;
}
#cards-container{
    display: flex;
}
#events-container .card{
    flex: 1 1 0;
    max-width: 25%;
    border-radius: 10px;
    margin: 5px;
}
#events-container img{ 
    max-height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.card .card-date{
    font-size:12px;
    color: #ccc;
}
.card .card-title{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.card-participants{
    font-size: 14px;
    color: #757575;
    margin-bottom: 10px;
}
/*footer*/
footer{
    text-align: center;
    background-color:  rgb(174, 215, 247);e48;
    counter-reset: #fff;
    padding: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
footer p{
    margin-bottom: 0;
}

/*Event create page*/
#event-create-container{
   
    padding: 30px;

}
#event-create-container h1{
    font-size: 20px;
    font-weight: bold;
    color: #212121;
    text-align: center;
}
#event-create-container label{
    font-weight: bold;
    color: #000;
   margin-top: 10px;

}

#event-create-container input,
#event-create-container select,
#event-create-container textarea{
    font-size: 12px;
}

